body{
    background-color: rgb(223, 223, 217);
}
.login{
    background-color: rgb(255, 255, 254);
    margin-top: 8rem;
    width: 35%;
    border-radius: 10px;;
}
.info{
    font-size: 15px;
    font-family: Sans-serif;
    color: rgb(139, 139, 133);
    font-weight: 550;
    padding: 1.5rem;
}
.button{
    background-color: rgb(236, 236, 236);
}
.enlaces .button > i{
    
    font-size: 18px; 
    color: rgb(123, 204, 241);
        
}
.enlaces .button  .go{
    color: rgb(209, 82, 82);
}
.enlaces .button  .git{
    color: rgb(109, 73, 73);
}
.enlaces .button > i  span{
    padding: 5px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 550;
    color: rgb(162, 166, 168);
}
.date .full{
    padding: 8px 16px;
    font-size: 14px;
    font-family: sans-serif;
    color: rgb(75, 74, 74);
    font-weight: 500;
}
.boton{
    margin-left: 5rem;
    display: block;
}
.text{
    color: rgb(155, 154, 154);
}
.redirection{
    color: rgb(155, 154, 154);
    padding: 5px;

}
.help{
    color: rgb(140, 172, 233);
}


  